<%= render "shared/user", user: @user %>

<% if @user.posts.empty? %>
        <p>No post</p>
    <% end %>
    <% @user.posts.each do |post| %>
        <%= render "shared/post", post: post %>
        <%= render "shared/comment", comments: post.comments[0, 5] %>
    <% end %>

<button type="button">Pagination</button>