<h1>Here is a list of posts for a given user</h1>
<ul>
<% @posts.each do |post| %>
  <li>
    <a href=<%="posts/#{post.id}"%>>
      <div>
        <p><%= post.title %></p>
        <p><%= post.text %></p>
      </div>
    </a>
  </li>
<% end %>
</ul>