<%= render "shared/user", user: @user %>

<% if @posts.empty? %>
        <p>No post</p>
    <% end %>
    <% @posts.each do |post| %>
        <%= render "shared/post", post: post %>
        <%= render "shared/comment", comments: post.most_recent_comments[0, 5] %>
    <% end %>

<button class="btn-pagination" type="button">Pagination</button>